- flash.each do |key, value|
  %div{ class: "alert alert-block #{flash_class(key)} fade in"}
    %button{ 'data-dismiss' => 'alert', class: 'close close-sm', type: 'button'}
      %i.fa.fa-times
    = value
