%ul.nav.top-menu
  / notification dropdown start
  %li#header_notification_bar.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
      %i.fa.fa-bell
      %span.badge.bg-success 7
    %ul.dropdown-menu.extended.notification
  / notification dropdown end
