<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500</title>
    <%= stylesheet_link_tag 'application', :media => 'all', :digest => true %>
  </head>

  <body class="body-500">
    <div class="container">
      <section class="error-wrapper">
        <i class="icon-500"></i>
        <h1>Ouch!</h1>
        <h2>500 Page Error</h2>
        <p class="page-500">Looks like Something went wrong. <a href="/">Return Home</a></p>
      </section>
    </div>
  </body>
</html>
