.col-lg-3
  .panel
    .symbol.terques
      %i.fa.fa-usd
    .value
      %h1= number_to_currency(number_to_human(@revenue, units: { thousand:'K', million: 'M' }), negative_format: "(%u%n)")
      %p= link_to 'Payments Total', reports_payments_path
