= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-signin'}) do |f|
  %h2.form-signin-heading forgot password
  .login-wrap
    = f.text_field :email,  autofocus: "", placeholder: "Email", class: "form-control"
    = f.submit "Send Reset Email", class: "button btn btn-lg btn-login btn-block"
